.quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 3rem);
  width: calc(
    11rem / var(--font-body-scale) + var(--inputs-border-width) * 0.5
  );
}

.quantity:before {
  border: solid 1px #303030;
}

.button,
.button-label,
.shopify-challenge__button,
.customer button,
.shopify-payment-button__button,
.quantity__input,
.form__label {
  font-size: 1rem !important;
}

.button,
.shopify-challenge__button,
.customer button,
button.shopify-payment-button__button--unbranded {
  min-height: calc(3rem + var(--buttons-border-width) * 2);
  line-height: 1;
}

.product-form {
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

.product-form__submit {
  border: solid 1px #303030 !important;
  margin-right: 10px;
}

.product-form__submit:hover {
  border: solid 1px #b8513d !important;
  background: #b8513d !important;
  color: #fff !important;
}

.product-form__submit:after,
.shopify-payment-button__button:after {
  box-shadow: none !important;
  border: none !important;
}

.product-form__submit:before {
  border: none !important;
  box-shadow: none !important;
}

.shopify-payment-button__button:hover {
  border: solid 1px #b8513d !important;
  background: #fff3e1 !important;
  color: #b8513d !important;
}

.product__description {
  margin-top: -10px !important;
  line-height: 1.8 !important;
  font-size: 1.1rem;
}

.price-item {
  font-size: 1.2rem;
}

.card__heading {
  font-weight: bold;
}

.price {
  margin-top: 0 !important;
}

.product-form__input input[type='radio'] + label {
  font-size: 1rem !important;
  padding: 0.75rem 1.25rem !important;
}

.product-grid-container .card__inner {
  background: none !important;
}

.cart-notification {
  top: 0;
  right: 0;
  background: var(--gradient-background);
  z-index: 99999;
  position: fixed;
  height: 100%;
  box-shadow: 0 0px 40px rgb(0, 0, 0, 0.4);
}

.cart-notification__header {
  align-items: center;
}

.modal__close-button.link {
  margin: 0;
  height: auto;
  width: auto;
}

.phantom-connect {
  background: #5145BC;
  border: solid 3px #5145BC;
  display: flex;
  padding: 12px 15px;
  color: #fff;
  border-radius: 8px;
  transition: .3s;
}

.phantom-connect img {
  width: 30px;
  margin-right: 15px;
}

.phantom-connect:hover {
  background: #4E30E8;
}

.phantom-connect:active {
  background: #4E30E8;
  border-color: #463d97;
}

.lotus-nft-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 460px;
  overflow: auto;
}

.lotus-nft {
  cursor: pointer;
}

.lotus-nft-img {
  border: solid 2px transparent;
  transition: .3s;
}

.lotus-nft-name {
  font-weight: bold;
  margin-top: 5px;
}

.lotus-nft:hover .lotus-nft-img {
  border-color: #b8513d;
}

.product-form__quantity,
.product-form__buttons {
  transition: .3s;
  opacity: 1;
}

.lotus-nft-chosen {
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
  transition: .3s;
}

.lotus-nft-chosen span {
  font-weight: normal;
}